@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #d6d5a8;
}
.wrapper .button {
  position: relative;
  border: none;
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-out;
}

.wrapper .button:hover,
.wrapper .button:active {
  width: 320px;
  background-color: #edf2f4;
  color: #2b2d42;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon,
.wrapper .button:nth-child(1):active .icon {
  background: #2b2d42;
  margin-left: -22.8px;
  margin-right: 7px;
  color: white;
}

.wrapper .button:nth-child(1):hover .icon i,
.wrapper .button:nth-child(1):active .icon i {
  color: white;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: black;
}

.wrapper .button span i {
  font-size: 25px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all 0.1s ease-out;
}
.fa-facebook-f:hover {
  color: #4267b2;
  z-index: 10;
}
.fa-twitter:hover {
  color: #1da1f2;
  z-index: 10;
}
.fa-instagram:hover {
  color: #e1306c;
}
.fa-github:hover {
  color: #333;
}
.fa-linkedin-in:hover {
  color: #0c65c2;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
